/* .lArrow {
    width: 51px;
    height: 51px;
    display: flex;
    margin-top: 50px;
  
  } */
.footer {
  /* width: 98.5vw; */
  width: 100%;
  height: 541px;
  gap: 120px;
  /* opacity: 0px; */
  background-color: #000066;
  margin-top: 160px;
}
.col-12 {
  color: #ffff;
  display: flex;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 200px;
}
.logo {
  height: 50px;
  /* width: 60; */
}
.parrafooter {
  /* display: flex;     */
  justify-content: start;
  /* align-items: start; */
}

.socialMedia {
  padding: 0.4px 0.24px 0.6px 0.94px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  width: 13px;
  height: 15px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 10px;
}
.Company {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  margin-top: 200px;
  margin-left: 150px;
}
.Support {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 200px;
  margin-left: 150px;
}
.ContactsUs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 200px;
  margin-left: 150px;
}
.navbarLink {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-decoration: none;
  color: #ffff;
  /* margin-top: 500px; */
}
li,
a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}
