/* .lArrow {
    width: 51px;
    height: 51px;
    display: flex;
    margin-top: 50px;
  
  } */
  .footer {
    width: 100%;
    height: auto;
    background-color: #4e4250;
    /* margin-top: 160px; */
  }
  .footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.col-12 {
  color: #ffff;
  display: flex;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.logo {
  height: 59px;
}
.parrafooter {
  font-size: 15.5px;
}

.socialMedia {
  /* padding: 0.4px 0.24px 0.6px 0.94px; */
  display: flex;

}
.icon {
  width: 16px;
  height: 18px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  object-fit: contain;
  /* margin: 10px; */
}

.Company {

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.h5Tag{
  /* display: flex;
  justify-content: start;
  align-items: center; */
  font-weight: 520;
  /* padding: 0; */
}
.Support {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

}
.ContactsUs {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  */

}
.navbarLink {
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start; */
  text-decoration: none;
  color: #ffff;
}
li,
a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}
.horizantalLine{
  /* margin-bottom: 50px; */
}
/* .termAndCondi{
  display: flex;
  flex-direction: row;
} */

