/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4e4250;
  /* background:linear-gradient(rgba(0, 0, 102, 1),rgba(0, 0, 204, 1)); */
  width: 100%;
  height: 580px;
  border-bottom-right-radius: 500px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #333; */
  color: white;
}
.navbar-links a:hover {
  color: rgb(239, 239, 104);
}

.navbar-logo img {
  /* height: 50px; */
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 1rem;
  letter-spacing: 0.06em;
}

.navbar-links {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.hero {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 2rem;
}

.hero-text {
  margin-bottom: 2rem;
  color: #ffff;
}
.desc {
  display: flex;
  justify-content: start;
  color: #fff;
  /* font-family: Open Sans; */
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: left;
  /* margin-top: 150px; */
}
.parra {
  /* font-family: Open Sans; */
  font-size: 14.5px;
  /* font-weight: 600; */
  /* line-height: 10.79px; */
  letter-spacing: 0.04em;
  /* text-align: left; */
}

/* .hero-image {

} */
@media (max-width: 1200px) {
  .hero-image {
    display: none;
  }
}
