  .head1 {
    margin-top: 150px;

  }

 .h1tag {
    /* font-family: Open Sans; */
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #000066;
    margin: 110px 0 115px 0;
  }
  .Rectangle1 {
    margin-top: 100px;
    /* width: 98.5vw; */
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .parra1 {
    /* font-family: Inter; */
    font-size: 17.5px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #000066;
    margin-top: 92px;
  }
  .our{
    margin: 0px 0 130px 0;
   font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #000066;
  }
  .ourServicesimg {
    display: flex;
    justify-content: start;
    gap: 25px;
    width: 100%;
  }
  .educationImg {
    /* width: 568px;*/
    width: 50%;
    height: 420px;
    border-radius: 10px 0px 0px 0px;
  }
  .ourServices {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .education {
    /* font-family: Open Sans; */
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000066;
  }
  .head2{
    margin-top: 0;
  }
  .parra2 {
    /* font-family: Open Sans; */
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .painting {
    /* font-family: Open Sans; */
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000066;
    margin-bottom: 25px;
  }
  .parra2 {
    /* font-family: Open Sans; */
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .head3 {
    margin-top: 130px;
  }
  .laundryServices {
    gap: 25px;
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .serviceHeading {
    /* font-family: Open Sans; */
    font-size: 49px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000066;
    margin-bottom: 25px;
  }
  .ourCleansingimg {
    gap: 25px;
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .parraEducational {
    /* font-family: Open Sans; */
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  
  .Rectangle3 {
    /* width: 568px;*/
    width: 50%;
    height: 420px;
    border-radius: 10px 0px 0px 0px;
  }
  .head4 {
    margin-top: 130px;
  }
  .cleansing {
    /* font-family: Open Sans; */
    font-size: 55px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000066;
    margin-bottom: 25px;
  }
  .Rectangle4 {
    /* width: 568px;*/
    width: 50%;
    height: 420px;
    border-radius: 10px 0px 0px 0px;
  }
  
  .head5 {
    margin-top: 130px;
  }
  
  .medcialServices {
    gap: 25px;
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .medicial {
    /* font-family: Open Sans; */
    font-size: 55px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000066;
    margin-bottom: 25px;
  }
  .parra5 {
    /* font-family: Open Sans; */
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  
  .Rectangle5 {
    /* width: 568px;*/
    width: 50%;
    height: 420px;
    border-radius: 10px 0px 0px 0px;
  }
  .head6 {
    margin: 130px 0 130px 0;
    /* margin-bottom: 130px; */
  }
  .reviews {
    /* font-family: Open Sans; */
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: #000066;
  }
  .head7 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
  }
  .card {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
    width: 568px;
    height: 450px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #000066;
  }
  .clintReviews {
    width: 101px;
    height: 101px;
    margin: 27px 0 0 27px;
    display: flex;
  }
  .nameLocation {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 27px;
  }
  .location {
    width: auto;
    height: 23px;
  }
  .reviews {
    display: flex;
    flex-direction: column;
    /* justify-content: end;
    align-items: end; */
    margin: 20px 0 0 120px;
  }
  .review {
    width: 140px;
    height: 33.2px;
    display: flex;
    justify-content: end;
  }
  .rating {
    /* font-family: Open Sans; */
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: end;
  }
  .cr1 {
    margin-top: 50px;
    /* font-family: Open Sans; */
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000066;
    margin: 20px 0 0 27px;
  }
  .dr1 {
    /* font-family: Open Sans; */
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 20px 0 0 27px;
  }

  